*~
\#*
.\#*
*.[oad]
*.so
*.swp
*.swo
*.orig
*.class
*.vim
*.kate-swp
tags
/build
/source/cmake
/testbin
/tool
dump
dump.*
cscope.out
cscope.files
cscope*out
*.start
/scripts/pkg
/package
.project
.cproject
.classpath
help
/.dep
/pkg
.settings
GPATH
GRTAGS
GSYMS
GTAGS
cscope.files
cscope.out
BROWSE
TAGS
/run
/config
/log
/maketags.py
/maketags.log
/changedliborer
*.diff
*.patch
nbproject
*.kdev4
callgrind
*.bak
metaq-client/bin
metaq-client/lib/bak
metaq-client/logs
